.app {
    text-align: center;
}

.app-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .app-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.app-header {
    background-color: #282c34;
    min-height: 7vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.app-link {
    color: #61dafb;
}

.paste-box {
    text-align: left;
}

.paste-box-contents {
    padding-left: 1em;
}

.paste-box-textarea {
    width: 90%;
    min-height: 20vh;
}

.item-details {
    text-align: left;
    padding: 1em;
}
.item-details-header {
    font-size: larger;
    font-weight: bold;;
}
.item-details-content {
    text-align: left;
}


@keyframes app-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-left {
    width: 75%;
    height: 100vh;
}

.flex-right {
    width: 25%;
}

.card-image {
    max-width: 200px;
    margin: 0 auto;
}

.inventory-header {
    width: 100%;
    background-color: #20002c;
    color: lavender;
    min-height: 6vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

/* Table */
.inventory-table {
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}

.inventory-table th {
    padding: 8px 15px;
}
.inventory-table td {
    padding: 4px 15px;
}

.inventory-table th {
    background-color: indigo;
    color: azure;
}

.inventory-table tr:nth-child(even) {
    background: whitesmoke;
}
.inventory-table tr:nth-child(odd) {
    background: #e1d3f3;
}

.inventory-table tr:hover {
    background-color: #c9acf1;
    cursor: pointer;
}
.inventory-section {
    margin-bottom: 1em;
}

/* Accordion */

.accordion-header {
    border: 0;
    margin-bottom: 10px;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: inherit;
    background-color: whitesmoke;
}

.accordion-header:hover {
    background-color: lavender;
    cursor: pointer;
}

.accordion-header span {
    color: orange;
    font-weight: bold;
}

.accordion-content {
    transition: all 0.8s ease-out;
}

.visible {
    display: block;
}

.not-visible {
    display: none;
}
/* Buttons */

.primary-button {
    font-weight: bold;
    padding: 10px 10px;
    color: white;
    background-color: indigo;
    border-radius: 5px;
    border: 5px solid #d1bbe1;
}
.primary-button:hover {
    background-color: #633c80;
    cursor: pointer;
}

.import-button {
    padding-right: 40px;
    margin-right: 1em;
}
.import-button::before {
    font: normal normal normal 14px/1 Mana;
    content: "\e61a";
    padding-right: 20px;
    padding-left: 10px;
}

.moxfield-button {
    background-color: #731fa1;
}

.moxfield-button::before {
    content: "\e962";
}
